<div class="footer p-t-2 p-b-2">
  <div class="container text-muted text-xs-center">
    <p class="copy">&copy; Plone Community and friends.</p>
    <p class="disclaimer">Blog entries aggregated on this page are owned by, and represent the opinion of the author.</p>
</div>
</div>
