<div class="topbar">
            <div class="topcontainer">
              <ul id="links-select">
                <li>
                  <a href="https://plone.org" title="Main Website">
                    PLONE.ORG
                  </a>
                </li>
                <li>
                  <a href="https://plone.com" title="Plone.com">
                    PLONE.COM
                  </a>
                </li>
                <li>
                  <a href="https://training.plone.org" title="Training">
                    TRAINING
                  </a>
                </li>
                <li>
                  <a href="https://community.plone.org" title="Community">
                    FORUM
                  </a>
                </li>
                <li>
                 <a href="https://docs.plone.org" title="Documentation">
                   DOCUMENTATION
                </a>
               </li>
              </ul>
            </div>
          </div>
       <!-- end test -->
       <!-- Add logo bar -->
	<div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <!-- <img src="https://archive.plone.org/logo2.png" alt=""> -->
                    <img src="images/plone_logo.png" alt="Plone Logo">
                </a>
            </div>
</div>
