<div class="footer p-t-2 p-b-2">
  <div class="container text-muted text-xs-center">
    <p class="copy">&copy; Plone Community and friends.</p>
    <p class="disclaimer">Here the disclaimer</p>
</div>
</div>
