<div class="topbar">
            <div class="topcontainer">
              <ul id="links-select">
                <li>
                  <a href="https://plone.org" title="Main Website">
                    plone.org
                  </a>
                </li>
                <li>
                  <a href="http://plone.com" title="Plone.com">
                    plone.com
                  </a>
                </li>
                <li>
                  <a href="http://training.plone.org" title="Training">
                    training.plone.org
                  </a>
                </li>
                <li>
                  <a href="http://docs.plone.org" title="Documentation">
                    docs.plone.org
                  </a>
                </li>
              </ul>
            </div>
          </div>
       <!-- end test -->
       <!-- Add logo bar -->
	<div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="https://archive.plone.org/logo2.png" alt="">
                </a>
            </div>
</div>
